.forgot-container {
  text-align: right;
}

.form-input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #AAAAAA;
}

.register-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  article {
    display: unset;
    font-size: 1rem;
  }
}

.auth-divider {
  color: #D4D5D5!important;
  margin: 40px 0!important;
}

.icon-container {
  justify-content: center;
  display: flex;
}

.btn-facebook {
  background-color: #3B5998;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-google {
  background-color: #EA4335;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-apple {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.close-icon-container {
  text-align: right;
  cursor: pointer;
}