.register-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  article {
    display: unset;
  }
}

.privacy-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .label-privacy {
    flex: 1;
    color: #555555;
  }
}
