@keyframes placeHolderShimmer {
  0% {
      background-position: -468px 0
  }
  100% {
      background-position: 468px 0
  }
}

@-webkit-keyframes placeHolderShimmer{
 0% {
      background-position: -468px 0
  }
  100% {
      background-position: 468px 0
  }
}

.anime-bg {
  animation:1s linear infinite forwards placeHolderShimmer;
  -webkit-animation: 1s linear infinite forwards placeHolderShimmer;
  background: #f6f7f8;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(24%, #dddddd), color-stop(36%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 24%, #eeeeee 36%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 24%, #eeeeee 36%);
  background-size: 800px 104px;
  height: 51px;
  position: relative;
}

.dark-theme{
  .anime-bg {
    animation:1s linear infinite forwards placeHolderShimmer;
    -webkit-animation: 1s linear infinite forwards placeHolderShimmer;
    background: #f6f7f8;
    background: #2a2b2b50;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #2a2b2b50), color-stop(24%, #444242), color-stop(36%, #2a2b2b50));
    background: -webkit-linear-gradient(left, #2a2b2b50 8%, #444242 24%, #2a2b2b50 36%);
    background: linear-gradient(to right, #2a2b2b50 8%, #444242 24%, #2a2b2b50 36%);
    background-size: 800px 104px;
    height: 51px;
    position: relative;
  }
}