@font-face {
  font-family: 'HindSiliguri';
  src: local('HindSiliguri'), url('/fonts/HindSiliguri-Medium.ttf') format('truetype');
  font-display: swap;
}

body {
  overscroll-behavior: contain;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: HindSiliguri,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  line-height: 1.5715;
  -webkit-tap-highlight-color: transparent;
}

.shopify {
  position: absolute;
  background: #000;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  padding: 1rem;
  color: #fff;
  .close-container {
    float: right;
    width: 20px;
    height: 20px;
  }
  &-iframe {
  }
}

//hr
.luxe-separator {
  margin: 32px 0;
  position: relative;
  color: #d4d5d5;
  display: flex;
  justify-content: center;
  & span {
    z-index: 1;
    display: block;
    padding: 0 12px;
    background: white;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #d4d5d5;
    height: 1px;
    width: 100%;
  }
}

.text-capitalise span:first-letter{
  text-transform: capitalize;
}

// apply this only for iphone - solve zooming issue on input focus
.iPhone {
  input,
  select {
    font-size: 1rem;
  }
}

@import 'toast';
@import 'preact';
@import 'variables';
@import 'antd';
@import 'elements';
@import 'loader';
@import 'theme';
