.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 8px;

  .column-title-active {
    text-transform: uppercase;
    color: white;
    background-color: #FFFFFF40;
    padding: 4px 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .column-title-deactive {
    text-transform: uppercase;
    color: white;
  }
}

.product-preview-container {
  position: relative;
  width: 100%;
  height: 270px;

  .product-title {
    position: absolute;
    top: 24px;
    left: 24px;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .product-image {
    width: 100%;
    height: 100%;
  }
  
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}